<footer class="container">
    <hr>
    <div class="grid" style="text-align: center;">
        <div>
            View the <a href="https://github.com/WJehee/wouterjehee.com">Source code</a>
        </div>
        <div>
            <ul class="list">
                {% include "partials/nav-elements.html" %}
            </ul>
        </div>
        <div>
            <ul class="list">
                <li>{% include "partials/github.html" %}</li>
                <li>{% include "partials/email.html" %}</li>
                <li>{% include "partials/keyoxide.html" %}</li>
            </ul>
        </div>
    </div>
</footer>

