<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ config.title }}{% block title %}{% endblock %}
        </title>
        <meta name="author" content="Wouter Jehee">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="pico.css">
        <link rel="stylesheet" type="text/css" href="nord.css">
    </head>
    <body>
        {% block main %} {% endblock %}
    </body>
</html>
