{{ define "title" }}
    {{ .Site.Title }} | {{ .Title | humanize }}
{{ end }}

{{ define "main" }}

{{ partial "nav" . }}

<main class="container">
    <h1 class="projects-header">{{ .Title }}</h1>

    <ul class="projects">
    {{ range .Pages }}
        <li class="project">
            <img class="project-thumbnail" src="{{ with .Resources.GetMatch "thumbnail.jpg" }}{{ .RelPermalink }}{{ end }}" alt="">
            <h3 class="project-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            {{ with .GetTerms "tags" }}
            <span class="project-tags">
                {{ range $i, $tag := . }}
                {{ if $i }} | {{ end }}
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{ end }}
            </span><br>
            {{ end }}
            <div class="project-links">
                {{ partial "live_link" . }}
                {{ partial "code_link" . }}
            </div>
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}

