{{ define "main" }}

{{ partial "nav" . }}

<div class="container">
    <main>
        <h1>{{ .Title }}</h1>

        <section class="content">
            {{ .Content }}
        </section>

        <ul class="projects">
        {{ range .Pages }}
            <li class="project">
                <h3><a class="project-title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                {{ with .GetTerms "tags" }}
                <span class="project-tags">
                    {{ range $i, $tag := . }}
                    {{ if $i }} | {{ end }}
                        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                    {{ end }}
                </span><br>
                {{ end }}
                <img class="project-thumbnail" src="{{ with .Resources.GetMatch "thumbnail.jpg" }}{{ .RelPermalink }}{{ end }}" alt="{{ .Title }}">
                <div class="project-links">
                    {{ partial "live_link" . }}
                    {{ partial "code_link" . }}
                </div>
            </li>
        {{ end }}
        </ul>
    </main>
</div>
{{ end }}

