{{ define "title" }}
    {{ .Site.Title }} | {{ .Title | humanize }}
{{ end }}

{{ define "main" }}

{{ partial "nav" . }}

<main class="container">
    <h1>{{ .Title }}</h1>

    <article class="content">
        {{ .Content }}
    </article>
    <br>

    <ul class="posts">
    {{ range .Pages }}
        <li class="post">
            <a class="post-title" href="{{ .RelPermalink }}">{{ .Title | humanize }}</a>
            <span class="post-tags">
                {{ range $i, $tag := .GetTerms "tags" }}
                {{ if $i }}|{{ end }}
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle | humanize }}</a>
                {{ end }}
            </span>
            <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}</span>
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}
