a {
    color: var(--h1-color) !important;
}

a:hover {
    color: var(--primary) !important;
}

article a {
    color: var(--primary) !important;
}

.list li {
    list-style: none;
}


/* Posts */

.post {
    border-bottom: 1px var(--secondary) dashed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.post-tag a {
    color: var(--nord8) !important;
}

.post-tag a:hover {
    color: var(--primary) !important;
}

.post-date {
    color: var(--nord15);
    flex-shrink: 0;
}

.projects {
    list-style: none;
    margin: 0;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

/* Projects */

.project {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.project-title, .project-tags, .project-thumbnail, .project-links {
    grid-column: 1 / 2;
    z-index: 1;
}

.project-title {
    grid-row: 2;
}

.project-tags {
    grid-row: 3;
}

.project-links {
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-thumbnail {
    grid-row: 1 / 5;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.not-available {
    text-decoration: line-through;
}

/* Media queries */

/* Hide brand part for mobile */
@media only screen and (max-width: 631px) {
    .hidden {
        display: none;
    }
}

