:root {
    --bg: var(--nord1);
    --bg-alt: var(--nord0);
    --text: var(--nord6);
    --text-alt: var(--nord4);
    --text-subtle: var(--nord3);
    --link: var(--nord9);
    --info: var(--nord10);
    --error: var(--nord11);
    --danger: var(--nord12);
    --warning: var(--nord13);
    --success: var(--nord14);
    --primary: var(--nord8);
    --secondary: var(--nord7);
    --tertiary: var(--nord15);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
}

/* General Styles */

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    padding-bottom: 100px;
}

/* Typography */

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

p {
  margin-top: 0;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--info);
}

img {
    display: block;
    max-width: 100%;
}

/* Main Styles */

article a {
    color: var(--link);
}

nav {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-alt);
    padding: 1rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.nav-elem {
    font-size: var(--fs-h3);
}

.nav-folders {
    margin-top: 1.5rem;
}

.nav-icons {
    margin-top: 1rem;
    margin-right: 2rem;
}

.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subtitle {
    margin-bottom: 4rem;
}

.container {
    overflow: hidden;
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post {
    border-bottom: 1px var(--text-subtle) dashed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.post-date {
    flex-shrink: 0;
    color: var(--tertiary);
}

.projects-header {
    text-align: center;
    margin-bottom: 20px;
}

.projects {
    list-style: none;
    margin: 0;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project {
    text-align: center;
    background-color: var(--bg-alt);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.project-title, .project-tags, .project-thumbnail, .project-links {
    grid-column: 1 / 2;
}

.project-title {
    margin-top: 10px;
    grid-row: 1 / 2;
}

.project-tags {
    grid-row: 2 / 3;
}

.project-thumbnail {
    grid-row: 1 / 5;
    width: 100%;
    height: 100%;
    /* Opacity messes with the links... */
    /* opacity: 0.4; */
}

.project-links {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.not-available {
    color: var(--text-subtle);
    text-decoration: line-through;
}

/* Media Queries */

@media screen and (max-width: 550px) {
    .nav-elements {
        display: none;
    }
}

