:root {
}

a {
    color: var(--h1-color) !important;
}

a:hover {
    color: var(--primary) !important;
}

article a {
    color: var(--primary) !important;
}

.list li {
    list-style: none;
}

/* Posts */

.post {
    border-bottom: 1px var(--secondary) dashed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.post-tag a {
    color: var(--nord8) !important;
}

.post-tag a:hover {
    color: var(--primary) !important;
}

.post-date {
    color: var(--nord15);
    flex-shrink: 0;
}

.post-pagination {
    text-align: center;
}

/* Media queries */

@media only screen and (max-width: 631px) {
    .hidden-mobile {
        display: none;
    }
}

