{% extends "base.html" %}

{% block title %}
| Home
{% endblock title %}

{% block main %}
<main class="container" id="index">
    <hgroup>
        <h1>{{ config.title }}</h1>
        <h3>Software Engineer | Cybersecurity Student</h3>
    </hgroup>
   
    <hr>
    <div class="grid">
        <ul class="list" style="text-align: center;">
            <li>
                {% include "partials/email.html" %}
                {% include "partials/github.html" %}
                {% include "partials/keyoxide.html" %}
                {% include "partials/rss.html" %}
            </li> 
            {% include "partials/nav-elements.html" %}
        </ul>
    </div>
</main>

{% endblock main %}

