{% extends "base.html" %}

{% block title %}
| {{ page.title }}
{% endblock title %}

{% block main %}

{% include "partials/nav.html" %}

<main class="container">
    {% if page.extra.subtitle %}
    <hgroup>
        <h1>{{ page.title }}</h1>
        <h2>{{ page.extra.subtitle }}</h2>
    </hgroup>
    {% else %}
        <h1>{{ page.title}}</h1>
    {% endif %}
    <article>
        {{ page.content | safe }}
    </article>
    {% if page.taxonomies.series %}
        {% set serie = get_taxonomy_term(kind="series", term="Niks to Nix") %}
        <h4>Other articles in this series:</h4>
        {{ page.taxonomies.series[0] }}
        {% for other in serie.pages %}
            {% if page.title != other.title %}
            <a href="other.permalink">{{ other.title }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}

</main>

{% include "partials/footer.html" %}

{% endblock main %}
