{% extends "base.html" %}

{% block title %}
| {{ page.title }}
{% endblock title %}

{% block main %}

{% include "partials/nav.html" %}

<main class="container">
    {% if page.extra.subtitle %}
    <hgroup>
        <h1>{{ page.title }}</h1>
        <h2>{{ page.extra.subtitle }}</h2>
    </hgroup>
    {% else %}
        <h1>{{ page.title}}</h1>
    {% endif %}
    <article>
        {{ page.content | safe }}
    </article>
    {% if page.taxonomies.series %}
        <div class="grid">
            <!-- Taken from: https://github.com/getzola/zola/issues/246 -->
            {% set series_name = page.taxonomies.series[0] %}
            {% set series = get_taxonomy_term(kind="series", term=series_name) %}
            {% for other in series.pages %}
                {% if page.title == other.title %}
                    {% set_global series_number = loop.index0 %}
                {% endif %}
            {% endfor %}
            <!-- Since we are sorting in reverse chronological order, this is also flipped -->
            {% set prev = series_number + 1 %}
            {% set next = series_number - 1 %}
            {% if series.pages[prev] %}
                <a class="post-pagination" href="{{ series.pages[prev].permalink}}">Previous post in this series</a>
            {% endif %}
            {% if series.pages[next] %}
                <a class="post-pagination" href="{{ series.pages[next].permalink}}">Next post in this series</a>
            {% endif %}
        </div>
    {% endif %}
</main>

{% include "partials/footer.html" %}

{% endblock main %}
